<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true">

  <!-- ########################################################## -->
  <!-- Appenders -->
  <!-- Console -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{dd/MM/yyyy HH:mm:ss, UTC} UTC | [%thread] | %-5level | %logger.%M - %msg%n</pattern>
    </encoder>
  </appender>
  <!-- ########################################################## -->

  <!-- ########################################################## -->
  <logger name="ua.infinity.studies.gridsystems" level="TRACE" />

  <!-- ROOT Logger -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
  <!-- ########################################################## -->
</configuration>